.pageContainer {
    background-color: white;

}

.pageContentContainer {
    display: flex;
    width: 90%;
    flex-shrink: 0;
}

.productTabsSection {
    min-width: 250px;
    width: 13%;
    margin-right: 1rem;
}

.allProductsSection {
    width: 90%;
    margin-left: 1rem;
}

.changeTheRulesImage {
    position: relative;
    width: 100%;
    height: 255px;
}

.textContainer {
    background-color: black;
    color: white;
    min-width: 100%;
    padding-bottom: 3rem;
    padding-top: 1rem;
    padding-left: 1.2rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.categoryText {
    background-color: transparent;
    color: white;
    border: none;
    display: block;
    text-transform: capitalize;
    margin: 0.6rem 0;
    transition: 1s;
}

.categoryMobileText{
    
    background-color: #EDEDED;
    color: black;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    font-size: 4vw;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding: 0.5rem;
    flex-shrink: 0;
    
}

.mobileCategoryTextContainer {
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    display: none;
}

.productsGrid {
    display: flex;
    flex-wrap: wrap;
}

.pageTitle {
    font-weight: 800;
    font-size: 50px;
    margin: 2rem auto;
    text-transform: uppercase;
}

.CardItemContainer {
    animation-name: popUpAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes popUpAnimation {
    from {opacity: 0.5; transform: translateY(100px);}
    to {opacity: 1; transform: translateY(0px);}
}

@media only screen and (max-width: 720px) {
    .pageContentContainer {
        flex-direction: column;
        align-items: center;
    }
    
    .productTabsSection {
        display: none;
    }

    .allProductsSection {
        margin: 0;
        width: 100%;
    }

    .pageTitle {
        font-size: 7vw;
        margin: 1rem auto;
    }

    .mobileCategoryTextContainer {
        display: flex;
    }
}