$productMargin: 80%;

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstSection {
    display: flex;
    width: 100%;
}

.imageContainer {
    position: relative;
    background-color: #F5F5F5;
    ;
    width: 50%;
    display: flex;
    justify-content: right;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.imageInnerContainer {
    width: 200px;
    position: relative;
    margin-right: 10rem;
}

.productInfoContainer {
    margin-left: 2rem;
    width: 50%;
}

.infoTextContainer {
    width: 60%;
}

.infoPath {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1vw;

}

.infoPathButtons {
    text-decoration: none;
    color: black;
}

.infoName {
    text-transform: uppercase;
    font-size: 1.7vw;
    font-weight: 900;
}

.infoServing {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0.5rem auto;
    text-wrap: nowrap;
    font-size: 1vw;
}

.infoFlavor {
    opacity: 0.5;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.5vw;
}

.infoGrid {
    display: flex;
    width: 41%;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.infoFlavorIcon {
    position: relative;
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 100%;
    margin: 0.2rem 0.2rem;
    background-color: #F5F5F5;
    transition: 0.5s;
}

.infoFlavorIcon:hover {
    background-color:orange;
}

.infoPara {
    text-transform: capitalize;
    width: 75%;
    font-size: 0.9vw;
}

.bigTextSection {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
}

.bigText {
    text-align: center;
    font-size: 2vw;
    width: 65%;
    font-weight: 800;
}

.propertiesSection {
    background-color: #F5F5F5;
    ;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.propertyItem {
    text-transform: uppercase;
    margin: auto 4rem;
    font-size: 1vw;
    text-align: center;
    width: 9%;
    font-weight: 700;
    flex-shrink: 0;
}

.propertyIcons {
    position: relative;

    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
}

.factsSection {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 10rem;
    width: 100%;
}

.factText {
    width: 30%;
}

.paraTitle {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 700;
}

.factsPara {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1vw;
    margin: 2rem auto;
}

.smallNote {
    font-size: 0.7vw;
    margin-top: 3rem;
}

.factSheetImg {
    position: relative;
    width: 20%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.productImg {
    position: relative;
    width: 20%;
}



@media only screen and (max-width: 720px) {
    .firstSection {
        flex-direction: column;
        align-items: center;
    }

    .imageInnerContainer {
        height: 400px;
        margin-right: 0;
    }

    .imageContainer {
        width: 100%;
        justify-content: center !important;
    }

    .productInfoContainer {
        margin-left: 0;
        width: 90%;
    }

    .infoTextContainer {
        width: 100%;
        margin-top: 2rem;
    }

    .infoPath {
        font-size: 2.7vw;
    }

    .infoName {
        font-size: 4vw;
    }

    .infoServing {
        font-size: 3vw;
    }

    .infoFlavor {
        font-size: 4.5vw;
    }

    .infoGrid {
        width: 80%;
    }

    .infoFlavorIcon {
        margin: 0.5rem 0.5rem;
    }

    .infoPara {
        width: 100%;
        font-size: 3.3vw;
    }

    .bigText {
        font-size: 5vw;
        width: 90%;
    }

    .propertiesSection {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .propertyItem {
        width: 60%;
        margin: 0;
        font-size: 5vw;
    }

    .propertyIcons {
        margin: 8vw auto;
        font-size: 15vw !important;
    }

    .factsSection {
        flex-direction: column;
        align-items: center;
    }

    .factText {
        width: 90%;
    }

    .paraTitle {
        font-size: 4vw;
    }

    .factsPara {
        font-size: 3vw;
    }

    .smallNote {
        font-size: 2vw;
        margin-bottom: 2rem;
    }

    .factSheetImg {
        width: 80%;
        height: 600px;
    }

    .productImg {
        display: none;
    }

}